.listItem {
    display: grid;
    padding: .3rem;
    grid-template-columns: 100px auto auto;
    grid-template-rows: 1rem auto 1rem;
    grid-gap: .5rem;
    border-bottom: 1px #f3f3f3 solid;
}

.selectedItem {
    background-color: #fbfbfb;
}

.avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
}

.username {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    font-weight: bold;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.phone {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: .6rem;
    color: #777;
    align-self: center;
}

.email {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    font-size: .6rem;
    color: #777;
    align-self: center;
}

.onlineMark {
     grid-column: 3 / 4;
     grid-row: 1 / 2;
     font-size: .8rem;
     color: #18a0e2;
     justify-self: end;
 }

.selectedIcon {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
}
