.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c3c3c3;
}

.form__fields {
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.form__title {
    margin: 0 0 15px 0;
    font-size: 1.5rem;
}

.titleDeoIuvante {
    color: #18a0e2;
    font-size: 1.5rem;
}

.login_field,
.password_field {
    min-width: 320px;
}

.label {
    text-transform: uppercase;
    color: #18a0e2;
    font-size: 1.1rem;
}

.label:hover {
    background-color: #fff;
}

.login_input,
.password_input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 20px 0;
    padding-left: 5px;
    line-height: 2;
    font-size: 1rem;
    border: none;
    border-top: 2px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    color: #00bff3;
}

.login_input:focus,
.password_input:focus,
.buttonSignIn:focus,
.buttonSignUp:focus,
.buttonCreateAccount:focus {
    outline: none;
}

.login_input::placeholder,
.password_input::placeholder {
    color: #c3c3c3;
}

.form__createAcc {
    margin: 0;
    font-size: .8rem;
    align-self: flex-end;
}

.buttonCreateAccount,
.buttonSignIn {
    border: 1px solid #00bff3;
    background-color: #00bff3;
    color: #fff;
    width: 174px;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.buttonSignUp {
    color: #18a0e2;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.buttonSignUp:hover {
    text-decoration: underline;
}

.error_message {
    font-size: .7rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: salmon;
    text-align: center;
}
