.form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.buttonSignIn:focus,
.buttonCreateAccount:focus {
    outline: none;
}

.buttonCreateAccount,
.buttonSignIn {
    border: 1px solid #00bff3;
    background-color: #00bff3;
    color: #fff;
    width: 174px;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
}
