.app_layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 4rem auto;
}

.header {
    grid-row: 1 / 2;
}

.main_area {
    grid-row: 2 / 3;
    overflow-x: hidden;
    overflow-y: auto;
}
