.header {
    background-color: rgba(0,191,243,.9);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    height: 10vh;
}

.header__right-slot {

}

.header__left-slot {

}

.header__text {
    font-family: Arial sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 23px;
}