.Bubble {
	padding: .4rem .6rem;
	font-size: .9rem;
}
.Bubble div{
	display: flex;
	flex-direction: row;
}
.Bubble__message {
	padding: 10px;
	background-color: #f4f4f4;
	border-radius: 5px;
}
.Bubble .Bubble_owner_yes {
	flex-direction: row-reverse;
}
.Bubble_read_yes{
	position: relative;
	width: 20px;
}
.Bubble_read_yes::after {
	content: '';
	width: 10px;
	height: 10px;
	background: url(arrows.png) no-repeat center;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.Bubble_owner_yes .Bubble__message{
	background-color: #00bef3;
	color: #fff;
}
