.Bubble {
	padding: .4rem .6rem;
	font-size: .9rem;
}
.Bubble div{
	display: flex;
	flex-direction: row;
}
.Bubble__message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 200px;
	padding: 10px;
	background-color: #f4f4f4;
	border-radius: 3px;
}

.Bubble__message .Bubble__message-text {
	word-break: break-word;
}

.Bubble .Bubble_owner_yes {
	flex-direction: row-reverse;
}
.Bubble_read_yes{
	position: relative;
	width: 20px;
}
.Bubble_read_yes::after {
	content: '';
	width: 10px;
	height: 10px;
	background: url(arrows.png) no-repeat center;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.Bubble_owner_yes .Bubble__message{
	background-color: #00bef3;
	color: #fff;
}

.Bubble_created-at {
	color: #000;
	font-size: 8px;
	align-self: flex-end;
	padding-left: 10px;
}

.Bubble_owner_yes .Bubble_created-at {
	color: #fff;
}
