.avatar {
  position: relative;
  display: inline-block;
}

.avatarName {
  background-color: #c3c3c3;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.avatarNameS {
  composes: avatarName;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}

.avatarNameM {
  composes: avatarName;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}

.avatarNameL {
  composes: avatarName;
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.imageS {
  composes: image;
  width: 3rem;
  height: 3rem;
}

.imageM {
  composes: image;
  width: 5rem;
  height: 5rem;
}

.imageL {
  composes: image;
  width: 8rem;
  height: 8rem;
}

.count {
  position: absolute;
  bottom: 0;
  right: 0;

  border-radius: 50%;

  font-family: Arial, sans-serif;
  color: white;
  border: 2px solid white;
  background-color: #00bff3;

  width: 2rem;
  height: 2rem;
  line-height: 2rem;

  text-align: center;
}

.countS {
  composes: count;
  font-size: 1.1rem;
}

.countM {
  composes: count;
  font-size: 1rem;
}

.countL {
  composes: count;
  font-size: 3.3rem;
}
