.message-input input {
  outline: none;

  box-sizing: border-box;
  width: inherit;
  height: inherit;

  padding: 5px;

  font-family: Arial, sans-serif;
  font-size: 14px;

  border-radius: 5px;
  border: 1px solid lightgray;
}

.message-input input::placeholder {
  opacity: 0.5;
}
