.listItem {
    display: grid;
    padding: .3rem;
    grid-template-columns: 100px auto auto;
    grid-template-rows: 2rem auto;
    grid-gap: .5rem;
    border-bottom: 1px #f3f3f3 solid;
}

.avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.roomName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size: 1.1rem;
}

.lastMessage {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    color: #777;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastActivity {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    font-size: 0.7rem;
    color: #aaa;
}

.hasReadMessage {
    padding: 5px;
    border-radius: 5px;
    background-color: #c3c3c3;
    color: #fff;
}
